// your workflow parameters
params {

  metadata = "conf/metadata.csv"
  resultsDir = "./results/batch_in_class/"
  rInputFile = "mtcars.csv"
  pipeline = 'python'
  percentile = [10,20,30,40,50,60,70,80,90]
  // we want to plot the histogram of the lipids
  columns = ['B4BCHOL','B4BTRIGL','B4BHDL','B4BLDL', 'B1SORIEN', 'B4PBMI']
  fig_format = ['pdf','png','jpeg']
}

// include basic process configuration options
includeConfig 'conf/base.config' 

trace {
  overwrite = true
}

